.Pagination{
    width:100%;
    margin:15px auto;
}
.Pagination>ul{
    display:flex;
    justify-content: center;
    column-gap: 10px;
    margin: 0 auto;
}
.Pagination>ul>li>a>div{
    width:30px;
    height:30px;
    background: #efefef;
    border-radius:5px;


    text-align:center;
    line-height:30px;
}